/*
태그 {} : 모든 해당 태그에 동일한 스타일을 입힌다
.클래스 {} : 해당 클래스를 가진 모든 태그에 동일한 스타일을 입힌다
#아이디 {}: 해당 아이디를 가진 유일한 단 하나의 태그에 특정 스타일을 입힌다

블록: 화면의 가로를 전부 차지한다
인라인: 컨텐츠의 크기만큼만의 가로를 차지한다
 */
body {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
/* body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
td,
th {
  border: 1px solid black;
}
#app-title {
  text-align: center;
  margin-top: 20%;
}

.info-input {
  border-radius: 10px;
  width: 200px;
  height: 30px;
}

.button {
  height: 20px;
  margin: 12px auto;
  padding: 12px;
  color: #ffffff;
  background-color: #1b2dff;
  border-radius: 12px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
/* 회원가입 */
#signup-form > div div {
  padding: 5px;
  margin-bottom: 5px;
}
#signup-form > div div input {
  width: 100%;
}

#signup-button {
  width: 200px;
  height: 40px;
}
/* 로그인 */
#login-button {
  width: 200px;
  height: 40px;
}
/* 상품구매,등록 */
#product-title-input,
#product-price-input,
#product-content-input {
  border-radius: 10px;
  margin-top: 30px;
  width: 150px;
  height: 30px;
}
#buy-button {
  width: 100px;
}
